<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="My.MySettings.PSPMaskanBankConnectionString" connectionString="Data Source=(local);Initial Catalog=PSPMaskanBank;User ID=sa;Password=789789"
      providerName="System.Data.SqlClient" />
    <add name="My.MySettings.ConnectionString" connectionString="DATA SOURCE=192.168.50.41/oraisop;PASSWORD=shaparak;USER ID=SHAPARAK"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <My.MySettings>
      <setting name="strTheLatestUserLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="PSPTejarat_CMSAcceptorManagementService_CMSAcceptorManagementServiceService"
        serializeAs="String">
        <value />
      </setting>
      <setting name="ContractDocImg_Path" serializeAs="String">
        <value>D:\workspace\shaparak\Release\R 1.15\Src\PSP\PSP\bin\Debug</value>
      </setting>
      <setting name="Fanava_CmsProjectID" serializeAs="String">
        <value>22</value>
      </setting>
      <setting name="Fanava_AccountTypeID" serializeAs="String">
        <value>118</value>
      </setting>
      <setting name="Fanava_BranchID" serializeAs="String">
        <value>2100631</value>
      </setting>
      <setting name="Pasargard_CmsProjectID" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="WebPosURL" serializeAs="String">
        <value>http://192.168.50.27:2412/api/v1/</value>
      </setting>
    </My.MySettings>
  </userSettings>
  <applicationSettings>
    <My.MySettings>
      <setting name="PSPTejarat_CMSAcceptorManagementService_AcceptorManagementServiceService"
        serializeAs="String">
        <value>http://192.168.30.29:80/sahand-ws-merchant-administration-service-0.1/AcceptorManagementService</value>
      </setting>
      <setting name="PSPTejarat_CMSFeeSchemaService_FeeSchemaServiceService"
        serializeAs="String">
        <value>http://192.168.30.29:80/sahand-ws-merchant-administration-service-0.1/FeeSchemaService</value>
      </setting>
      <setting name="PSPTejarat_SinaAcceptorManagementService_AcceptorManagementServiceService"
        serializeAs="String">
        <value>http://192.168.20.46:8080/aws_sina-aws_sina/AcceptorManagementService</value>
      </setting>
      <setting name="PSPTejarat_FeeSchemaService_FeeSchemaServiceService"
        serializeAs="String">
        <value>http://192.168.40.27:8080/aws_tejarat-aws_tejarat/FeeSchemaService</value>
      </setting>
      <setting name="TMSConnectionString" serializeAs="String">
        <value>YaAt7qHpb9NKXVvXEwmNibCB2eQsj3eWTFgOqM+kq3f+HThrYIQshl86/0BSNCs7Bxf+DiJ30rypJ3kwwXm7FBQpu+Hd+aO2WshumXuNz8PsVUcUhrgRvjRZfaHm/cSdDgbTRkg3dlwdjKJ3WfLFQg==</value>
      </setting>
      <setting name="PSPShaparak_AcceptorManagementService_AcceptorManagementServiceService"
        serializeAs="String">
        <value>http://192.168.20.51:8080/aws_tejarat-aws_tejarat/AcceptorManagementService</value>
      </setting>
      <setting name="PSPShaparak_ArianaCustomerService_Customer" serializeAs="String">
        <value>http://10.8.101.100/webservices/customer.asmx</value>
      </setting>
      <setting name="PSPShaparak_ArianaTerminalService_TerminalServices"
        serializeAs="String">
        <value>http://10.8.101.100/webservices/terminalservices.asmx</value>
      </setting>
      <setting name="strConnectionString" serializeAs="String">
        <value>ZIfaagFTnewtd3fq4yLS7c9xKZnDYCwtaMgmUAIH6nxf2uwDrKvWhrLYS6fPrxtE0nhiXIPP3BoJu/iZVUN17p5mov8LiGYXrW5TWuAC6e/gr2TC8FAwqsd4VvnjcweoYZUUiz0w4YxqBHv2qZgsAQ==</value>
      </setting>
    </My.MySettings>
  </applicationSettings>
 
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="c:\Log\MyLogg.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="" />
        <param name="Footer" value="" />
        <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
      </layout>
    </appender>
    <root>
      <!--LogLevel: OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
